<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--specify the args for constructor -->
<bean id="person" class="com.shuaih.springTest.Person">
	<constructor-arg value = "1" index = "0" name = "id" type ="int"></constructor-arg>
	<constructor-arg value = "shuai" index = "1" name = "name"></constructor-arg>
	<property name="taxId" value = "2"></property>
</bean>


</beans>